PAYSIM_MAX_ROWS=15000

AWS_REGION=us-east-1
AWS_S3_BUCKET=REPLACE_WITH_BUCKET_NAME
AWS_CLOUDWATCH_LOG_GROUP=/nfcu/cloud
GLUE_DATABASE=nfcu_cloud_lake
ATHENA_WORKGROUP=nfcu-cloud-analytics
KINESIS_STREAM_NAME=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=NFCU_WH
SNOWFLAKE_DATABASE=NFCU
SNOWFLAKE_SCHEMA=GOLD
